@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
}

#name {
  position: relative;
}

#name::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  top: .22em;
  left: .72em;
  transform: rotateZ(-40deg);
  animation: shimmer 4s infinite;
  background-image: linear-gradient(90deg, #AAA 20%, #FFF 50%, #AAA 80%);
  background-size: 400%;
}

@keyframes shimmer {

  0%,
  40% {
    background-position: 0% 0%;
  }

  60%,
  100% {
    background-position: 100% 100%;
  }
}
